1.  *       mathematical operators
    'hello'  values
    -87.8    values
    -        mathematical operators
    /        mathematical operators
    +        mathematical operators
    6        values

2. String - It is text data type
   Variables - it stores values

3. String - it is text data type contains alphabets, words, sentences and number in text form ('a','word','hello world','44')
   integer - it is integer data type, takes number in form of integer (5,6,50)
   bool - it is boolean data type (0,1)

4. Expressions are made up of variable, values and methematical operators which returns some value
    eg- c= a+b

5. Exprssions are made up of values and mathematical operators which returns values
   Statements are just something represent action or commands

In [16]:
#6
bacon = 22
bacon + 1
print(bacon)

22

In [17]:
#7
'spam' + 'spamspam'

'spamspamspam'

In [19]:
#7
'spam' * 3

'spamspamspam'

8. Variable name can start with alphabets and _ but, it cannot start with intger or any other special characters like @,#.
   so Eggs is a valid variable name and 100 is not.

9. for integer - int()
   for floating point no. - float()
    for string - str()

In [21]:
#10
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

It has error because wee cannot concatinate two different data types.
it can be solved by making integer value to string

In [23]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'